:root {
    --white: rgb(255, 255, 255);
    --dark: rgb(62, 71, 86);
    --gray: rgb(184, 184, 184);
    --violet: rgb(221, 42, 156);
    --pink: rgb(248, 108, 134);
    --orange: rgb(255, 188, 81);
    --violet-bg: rgba(62, 71, 86, 0.1);
}

.floatfix::after {
    content:'';
    display: block;
    clear: both;
}

html {
    background-color: var(--white);
    font-family: Montserrat, sans-serif;
    font-size: 65%;
}

body {
    width:95%;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 15px 5px var(--gray);
}

.contener {
    background-color: var(--violet-bg) ;
}

.contener h1 {
    float:left;
    width: 45%;
    min-width: 300px;
    text-transform: uppercase;
    -webkit-animation: slide-left 2s ease-out 0.5s backwards;
    animation: slide-left 1s ease-out 0.5s backwards;
}

@keyframes slide-left {
    0% {
      -webkit-transform: translateY(-50px);
            transform: translateY(-50px);}
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);}
}
  
.contener h1 a {
    display: flex;
    width: 300px;
    height: 60px;
    margin: 5px 15px;
    color: var(--gray);
    font-size: 3rem;
    font-weight: 400;
    text-decoration:none;
    align-items:center;
}

.contener nav {
    float:right;
    width: 55%;
}

.contener nav ul {
    display: table;
    width: 100%;
}

.contener nav ul li {
    display: table-cell;
    width: 25%;
    border-right: 3px dotted var(--orange)  
}

.contener nav ul li:first-child {
    border-left: 3px dotted var(--orange)
}

.contener nav ul li a {
    display: block;
    height: 70px;
    line-height: 70px;
    font-size: 1.8rem;
    color: var(--dark);
    text-transform: uppercase;
    text-align:center;
    text-decoration:none;
    min-width: 100px;  
}

.contener nav ul li:hover a {
    background: var(--orange);
    opacity:0.5;
    color: var(--white);
}

.welcome-bg {
    max-height: auto;
    width: 100%;
    background: url("welcome-bg.jpg") left center no-repeat;
    background-size: cover;
    opacity: 0.9;
    overflow: hidden;
    border-top: 4px solid var(--orange);
    border-bottom: 4px solid var(--orange);
}

.welcome {
    text-align: center;
    padding-top: 180px;
}

.welcome h1 {
    font-size: 9.5em;
    font-weight: 700;
    color: var(--pink);
    opacity: 0.9;
    line-height: 1.5em;
    background:rgba(85, 84, 84, 0.6);
    min-width: 400px;
}

.welcome h2 {
    font-size: 4.5em;
    font-family: Tajawal, sans-serif;
    color: var(--dark);
    opacity: 0.9;
    background: rgba(138, 138, 138, 0.3);
    min-width: 400px;
}

.icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.iconlink {
    font-size: 2.7em;
    color: var(--dark);
    margin: 5px;
}

#about, #skills {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 0 60px 0;
    margin: 10px 0 0 0;
    background-image: linear-gradient(to right, var(--violet-bg), var(--white));
 }

 #about h2,
 #skills h2 {
    margin-left: 55px;
    margin-bottom: 20px;
    font-family: Montserrat, sans-serif;
    font-size: 2.3rem;
    font-weight: 700;
    color: var(--dark);
}

.data {
    display: flex;
    align-self: center;
    background-color: var(--white);
    padding: 20px;
    box-shadow: 0px 0px 15px 1px var(--gray);
    width: 80%;
    height: 85%;
    min-width:400px;
    font-family: Tajawal, sans-serif;
    font-size: 2.1rem;
    font-weight: 400;
    color: var(--dark);
}

.photo {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    bottom: 30px;
    min-width: 150px;
    min-height: 150px;
    padding-right: 20px;
}

.photo img {
    display: block;
    width:120px;
    height:auto;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 1px var(--orange);
}

#about .data ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    line-height: 3.5rem;
    min-width: 350px;
}

#about .data ul li span {
    color: var(--orange);
    font-weight: 700;
    letter-spacing: 0.2rem; 
}

#about .data .description {
    overflow: auto;
    display: flex;
    text-align: justify;
    align-items: center;
}

#about .data .description p {
    line-height: 3.5rem;
    margin: 5px 15px; 
}

#skills {
    flex-wrap: nowrap;
    margin: 0 0 10px 0;
    background-image: linear-gradient(to left, var(--violet-bg), var(--white));
}

#skills .data ul {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "front back more";
    text-align: center;
    justify-items: justify;
    align-items: baseline;
    line-height: 3.7rem;
    font-size:2.8rem;
}

#skills .data ul li {
    border-left: 3px double var(--orange);
    height: 100%;
}

#skills .data ul li:first-child {
    border: none;
}

#skills .data ul li i {
    font-size:4.5rem;
    margin: 25px;
}

#skills .data ul li span {
    color: var(--orange);
    font-weight: 700;
}

#portfolio {
    max-height: 800px;
    display: grid;
    grid-template-rows: 0.5fr repeat(2, 3fr);
    grid-template-areas: 
        "header header header header header header"
        "img1 img1 img2 img2 img3 img3"
        "img1 img1 img4 img4 img4 img5";  
}

#portfolio header {
    grid-area: header;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#portfolio header h1 {
    font-size: 2.3rem;
    font-weight: 700;
    color: var(--dark);
}

.picture {
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.picture:hover {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.picture img {
    object-fit: cover;
    width:100%;
    height: 100%;
}

.photo1 {
    grid-area: img1;
    position: relative;
}

.link {
    font-family: Tajawal, sans-serif;
    text-decoration: none;
    color: black;
    font-size: 1.7rem;
    line-height: 2rem;
    padding: 25px;
    position: absolute;
    display: block;
    background-color: var(--violet-bg);
    opacity: 0.5;
    transition: all color 1s ease-in-out;
}

.link span {
    font-weight: 700;
    font-size: 2rem;
}

.photo1 .link {
	left: 0px;
    top: 0px;
    max-height: 120px;
    overflow: hidden;
    text-align: justify;
}

.picture:hover {
    box-shadow: 0px 0px 15px 1px var(--gray);
}

.photo1:hover .link {
    opacity: 0.8;
}

.photo1:hover .link span {
    color: var(--dark);
}

.button {
    position: absolute;
    left: 25px;
    bottom: 25px;
	background-color: var(--violet-bg);
	border-radius:6px;
	border:1px solid var(--dark);
	display:inline-block;
	color:var(--dark);
	font-family: Tajawal;
	font-size:15px;
	font-weight:bold;
	padding: 24px 24px;
	text-decoration:none;
}

.button:hover {
	background:linear-gradient(to bottom, var(--violet-bg) 5%, var(--gray) 100%);
}

.photo2 {
    grid-area: img2;
}

.photo3 {
    grid-area: img3; 
}

.photo4 {
    grid-area: img4;
}

.photo5 {
    grid-area: img5;
}

.photo5  {
    grid-area: img5;
}

.contact{
    background-image: linear-gradient(to bottom, var(--violet-bg), var(--white)) ;
    display: flex;
    justify-content: center;
    padding: 25px 0;
    margin: 0 auto;
}

form {
    display: grid;
    grid-template-columns: 4fr 6fr;
    grid-template-areas: 
    "box1 box2";
    padding:  0;
    overflow:auto;
    border: 1px solid var(--gray)
}

.box1 {
    grid-area: box1;
    display: grid;
    grid-template-rows: 1fr 1fr;
    min-width: 200px;
}

.box2 {
    grid-area: box2;
    position:relative;
    max-width: 600px;
}

.box {
    background: var(--orange);
}

.cicon a {
    color: var(--white);
    font-size:2rem;
}

.cicon a:nth-child(2) {
    margin-left: 15px;
}

.box1 p,
.cicon {
    color: var(--white);
    font-size:1.7rem;
    line-height: 3rem;
    margin-left: 25px;
    margin-bottom: 15px;
    margin-right: 25px;
}

.box1 p {
    flex-direction:column;
    align-self: center;
}

.box1 p:nth-of-type(2) {
    align-self: flex-end;
}


.box1 p span {
    font-weight: 700;
}

.box2 h1 { 
    color:var(--white);
    font-size:2.1rem;
    font-weight: 700;
    text-transform:uppercase;
    padding:10px 0 10px 10px;
}

.box2 label {
    display: flex;
    background:var(--white);
    padding:10px 0;
    align-items: center;
}

.box2 .in {    
    padding:10px 10px;
    width:100%;
    margin: 0 15px;
    background: var(--violet-bg);
    border-radius: 11px;
    border:none;
    color: var(--dark);
    font-family: Tajawal;
    font-size: 1.5rem;
}

.box2 .message {
    overflow:hidden;
    min-height:100px;
    min-width: 200px;
}

.box2 label input:last-child {
    position:relative;
}

.box2 .button2	{
    bottom: -35px;
    left:-15px;
    padding: 10px 25px;
    margin: 0 10px;
}

footer {
    border-top: 1px solid var(--gray);
    background: url(../img/vertical-waves.png) top left repeat;
}

footer h6 {
    font-family: Montserrat, sans-serif;
    color: var(--dark);
    font-size: 1.5rem;
    padding: 20px 0;
    text-align: center;
}