:root {
    --white: rgb(255, 255, 255);
    --dark: rgb(85, 84, 84);
    --gray: rgb(138, 138, 138);
    --violet: rgb(174, 151, 170);
    --pink: rgb(226, 161, 176);
    --peach: rgb(255, 176, 156);
    --orange: rgb(255, 206, 125);
    --yellow: rgb(249, 248, 113);
    --violet-bg: rgba(174, 151, 170, 0.1);
}

.floatfix::after {
    content:'';
    display: block;
    clear: both;
}

html {
    background-color: var(--white);
    font-family: Montserrat, sans-serif;
    font-size: 62.5%;
}

body {
    width:95%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 23px 7px var(--gray);
}

.contener {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    background-color: var(--violet-bg) ;
}

.contener h1 {
    float:left;
    width: 45%;
    min-width: 200px;
    position: relative;
    left: 50px;
}

.contener h1 a {
    display: flex;
    width: 300px;
    height: 60px;
    margin: 5px 0;
    color: var(--gray);
    font-size: 3rem;
    font-weight: 400;
    text-decoration:none;
    align-items:center;
}


.contener nav {
    float:right;
    width: 45%
}

.contener nav ul {
    display: table;
    width: 100%;
}

.contener nav ul li {
    display: table-cell;
    height: 70px;
    width:25%;
    min-width:100px;
    line-height: 70px;
    font-size: 1.8rem;
    color: var(--dark);
    text-transform: uppercase;
    text-align:center;
    text-decoration:none;   
}

.contener nav ul li a {
    display: block;   
}

.contener nav ul li:hover {
    background: var(--orange);
    opacity:0.5;
    color: var(--white);
    font-weight: 700;
}

.welcome-bg {
    height: 442px;
    width: 100%;
    background: url("welcome-bg.jpg") left center no-repeat;
    background-size: cover;
    opacity: 0.9;
    overflow: hidden;
    border-top: 4px solid var(--orange);
    border-bottom: 4px solid var(--orange);
}

.welcome {
    text-align: center;
    padding-top: 180px;
    font-family: 'Tajawal', sans-serif;
}

.welcome h1 {
    font-size: 9.5em;
    font-weight: 700;
    color: var(--pink);
    opacity: 0.9;
    line-height: 1.5em;
    background:rgba(85, 84, 84, 0.6);
    min-width: 400px;
}

.welcome h2 {
    font-size: 4.5em;
    color: var(--dark);
    opacity: 0.9;
    background: rgba(138, 138, 138, 0.3);
    min-width: 400px;
}

.icons {
    display:flex;
    justify-content: center;
    position:relative;
    top:15px;
}

.icon {
    font-size:2.5rem;
    color: var(--dark);
    margin: 0 6px;
}

#about {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 0 60px 0;
    margin: 20px 0;
    background-image: linear-gradient(to right, var(--violet-bg), var(--white));
 }
   
#about h2 {
    margin-left: 55px;
    margin-bottom: 20px;
    font-family: Montserrat, sans-serif;
    font-size: 2.3rem;
    font-weight: 700;
    color: var(--dark);
}

.data {
    display: flex;
    align-self: center;
    background-color: var(--white);
    padding: 20px;
    box-shadow: 0px 0px 15px 1px var(--gray);
    width: 80%;
    height: 85%;
    min-height:270px;
    font-family: Tajawal, sans-serif;
    font-size: 2.1rem;
    font-weight: 400;
    color: var(--dark);
    overflow: auto;
}

.photo {
    flex: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    min-height: 200px;
}

.photo img {
    display: block;
    max-width:120px;
    max-height:auto;
    border-radius: 50%;
    box-shadow: 0px 0px 8px 2px var(--gray);
}

#about .data ul {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    line-height: 2.7rem;
    min-width: 420px;
}

.data ul li span {
    color: var(--orange);
    font-weight: 700;
}

#about .data .description {
    overflow: auto;
    display: flex;
    justify-content: left;
    align-items: center;
}

#about .data .description p {
    flex: 5;
    line-height: 3.5rem;
    margin: 5px 15px; 
}

#skills {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 0 60px 0;
    margin: 20px 0;
    background-image: linear-gradient(to left, var(--violet-bg), var(--white));
 }

#skills h2 {
    text-align: left;
    margin-left: 55px;
    margin-bottom: 20px;
    font-family: Montserrat, sans-serif;
    font-size: 2.3rem;
    font-weight: 700;
    color: var(--dark);
}

#skills .data ul {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "front back more";
    text-align: center;
    justify-items: justify;
    align-items: center;
    line-height: 3.7rem;
    font-size:2.8rem;
}

#skills .data ul li i {
    font-size:4.5rem;
    margin-bottom: 15px;
}

#portfolio {
    max-height: 700px;
    max-width: 1500px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr repeat(2, 3fr);
    grid-template-areas: 
        "header header header header header header"
        "img1 img1 img2 img2 img3 img3"
        "img1 img1 img4 img4 img4 img5";  
}

#portfolio header {
    grid-area: header;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#portfolio header h1 {
    font-family: Montserrat, sans-serif;
    font-size: 2.3rem;
    font-weight: 700;
    color: var(--dark);
}


.picture {
    overflow: hidden;
    display: flex;
    align-items: center;
}

.picture img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 100%;
    /* object-fit: cover; */
}

.photo1 {
    grid-area: img1;
    align-items: flex-end;
}

.photo2 {
    grid-area: img2;
}

.photo3 {
    grid-area: img3;
    
}
.photo4 {
    grid-area: img4;
}

.photo5 {
    grid-area: img5;
    align-items: flex-end;
}

.photo5  {
    grid-area: img5;
    align-items: flex-end;
}

.photo4 img {
    width: 730px;
    height: 100%;
}

.photo5 img {
    width: 100%;
    height: 400px;
}


@media screen and (max-width: 1024px) {
    .contener {
        width:90%;
    }

    #about {
        width: 100%;
    }

    .data {
        display: flex;
        flex-wrap: wrap;
    }

}

@media screen and (max-width: 768px) {
    .contener {
        width:95%;
    }
   
    header h1  {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    header h1 a {
        display: flex;
        justify-content: center;

    }     
    header nav {
        width:100%
    } 

    .data ul {
        margin: 0 25px;
    }

    .description p {
        
        text-align: justify;
        margin: 25px;
    }
}



@media screen and (max-width: 480px) {
    body {
        width:100%;
        margin: 0;
    }
    
    .welcome h1 {
        font-size: 7.5em;
        min-width:300px;
    }
    .welcome h2 {
        font-size: 3.5em;    
        min-width:300px;    
    }
    
    header nav ul li {
        display: block;
        width: 100%;
        height: 30px;
        font-size: 1.5rem;
        line-height: 30px;
        border-bottom: 1px solid var(--orange);
    }  
    #about h2 {
        text-align: center;
        width: 100%;
        margin-left: 0;
    }  
    .data {
        width: 80%;
        min-width: 400px;
    }

    .data ul {
        font-size: 2.2rem;
        
    }

    .description p {
        font-size: 2.2rem;
        text-align: justify;
    }
}