:root {
    --white: rgb(255, 255, 255);
    --dark: rgb(62, 71, 86);
    --gray: rgb(184, 184, 184);
    --violet: rgb(221, 42, 156);
    --pink: rgb(248, 108, 134);
    --orange: rgb(255, 188, 81);
    --violet-bg: rgba(62, 71, 86, 0.1);
}

@media screen and (max-width: 1024px) {

    html {
        font-size: 55%;
    }

    .contener h1 {
        width: 100%;
    }

    .contener h1 a {
      width:100%;
      margin:0;
      justify-content: center;
    }
  
    .contener nav {
        width: 100%;
    }

    .data {
        flex-wrap: wrap;
        justify-content: center;
    }

    .data .description {
        margin-top: 25px;
    }

    .photo {
        position: static;
    }
}
    
@media screen and (max-width: 768px) {
        
}

@media screen and (max-width: 480px) {
    html {
        font-size: 50%;
    }

    body {
        width: 100%;
    }
  
    .contener nav ul li {
        display: block;
        width: 100%;
    }

    .contener nav ul li a {
        height: 40px;
        line-height: 40px;
        border-bottom: 1px solid var(--orange);
    }

    .data {
        background: var(--violet-bg);
    }

    .data ul li {
        line-height: 2.5rem;
    }

    #about, #skills {
        padding: 15px 0 0 0;
        margin: 0;
    }
   
    #about .data .description {
        margin-left:  10px;
        margin-right:  10px;
        max-height: 100%;
        border-top: 2px dotted var(--orange)
    }
    
    #skills .data ul {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "front"
            "back"
            "more";
    }

    #skills .data ul li {
        width:100%;
        border-left:none;
    }

    #skills .data ul li i {
    margin: 20px 0;      
    }

    #skills .data ul li:first-child i {
        margin-top:0;
    }

    #portfolio header h1 {
        padding: 15px;;
    }

    #portfolio {
        grid-template-areas: none;
        grid-template-rows: none;
        display: flex;
        flex-wrap: wrap;
        max-height: 100%;
    }

    .picture:nth-child(odd) {
        display: none;
    }

    .picture {
        max-height: 200px;
    }

    .picture:hover {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
    }

    .link {
        display: none;
    }

    .photo1:hover .link {
        display: block;
    }

    .button {
        left: 25px;
        bottom: 25px;
        padding: 12px 20px;
    }

    form {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "box1"
        "box2";
    }

    .box1 {
        max-height: 220px;
    }

    .box1 p {
        justify-self: flex-start;
        margin: 15px 25px;
        font-size: 1.9rem;
    }

    .cicon {
        justify-self: flex-start;
        margin: 0 25px;
    }

    .box1 p:nth-of-type(1) {
        order: 3;
    }

    .box2 h1 {
        text-align: center;
        margin: 0 0 10px 0;
    }

    .box2 .button2 {
        bottom: -37px;
        left: 0;
        padding: 10px 25px;
        margin: 0 10px;
    }

    footer h6 {
        padding: 15px 0;
    }